{{#foreach posts}}
<article class="Post {{post_class}}">
    <header class="Post-header">
        <h2 class="Post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="Post-excerpt">
        <p>{{excerpt words="36"}}</p>
    </section>
    <footer class="Post-meta">
        <time class="Post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D [de] MMMM [de] YYYY"}}</time>
        <span class="Post-readingTime">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
        <div class="Post-tags">
            {{tags separator=''}}
        </div>
    </footer>
</article>
{{/foreach}}

{{pagination}}
