{{!< default}}

{{#author}}
    <section class="AuthorProfile">
        {{#if image}}
        <figure class="AuthorProfile-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="AuthorProfile-title">{{name}}</h1>
        <h2 class="AuthorProfile-bio">{{bio}}</h2>
        <div class="AuthorProfile-meta">
            {{#if location}}<span class="AuthorProfile-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="AuthorProfile-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="AuthorProfile-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

<main class="Content" role="main">

    {{> "loop"}}

</main>
