<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{asset "blog.css"}}">
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header class="Header">
        <a href="/" class="main-link">
            {{#is 'home'}}
                <h1 class="name">Iván Abascal Lozano</h1>
            {{else}}
                <p class="name">Iván Abascal Lozano</p>
            {{/is}}
            <p class="job">Desarrollador web</p>
        </a>
        <div class="social-links">
            <a class="social-link" target="_blank" href="https://twitter.com/abalozz">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
            <a class="social-link" target="_blank" href="https://github.com/abalozz">
                <svg class="icon icon-github">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a class="social-link" target="_blank" href="https://www.linkedin.com/in/abalozz/">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </a>
            <span class="email">abalozz@outlook.com</span>
        </div>
    </header>

    <nav class="Nav">
        {{navigation}}
    </nav>

    {{{body}}}

    <footer class="Footer site-footer clearfix">
        <p>&copy; 2014 - {{date format="YYYY"}}</p>
    </footer>

    {{> "svg"}}

    <script type="text/javascript" src="{{asset "blog.js"}}" async></script>
    {{ghost_foot}}
</body>
</html>
