{{!< default}}

{{#is "home"}}
<header class="MainHeader{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}--noCover{{/if}}">
    <nav class="MainNav{{#if @blog.cover}}{{else}}--noCover{{/if}}">
        {{#if @blog.logo}}<a class="Logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo" /></a>{{/if}}
    </nav>
    <div class="MainHeader-content">
        <h1 class="MainHeader-title">{{@blog.title}}</h1>
        <h2 class="MainHeader-description">{{@blog.description}}</h2>
        <div class="MainHeader-social">
            <a target="_blank" href="https://twitter.com/abalozz">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
            <a target="_blank" href="https://plus.google.com/u/0/+IvánAbascalLozano">
                <svg class="icon icon-google-plus">
                    <use xlink:href="#icon-google-plus"></use>
                </svg>
            </a>
            <a target="_blank" href="https://www.facebook.com/ivan.abascallozano">
                <svg class="icon icon-facebook">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
            </a>
            <a target="_blank" href="https://github.com/abalozz">
                <svg class="icon icon-github">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a target="_blank" href="http://codepen.io/abalozz/">
                <svg class="icon icon-codepen">
                    <use xlink:href="#icon-codepen"></use>
                </svg>
            </a>
            <a target="_blank" href="https://www.linkedin.com/profile/view?id=359300271">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </a>
            <a href="skype:alivanprox">
                <svg class="icon icon-skype">
                    <use xlink:href="#icon-skype"></use>
                </svg>
            </a>
        </div>
        <div class="MainHeader-email">abalozz@outlook.com</div>
        <div class="MainHeader-links">
            {{navigation}}
        </div>
    </div>
    <a class="MainHeader-scrollToContent" href="#blog" data-scroll-down="">
        <svg class="icon icon-angle-down">
            <use xlink:href="#icon-angle-down"></use>
        </svg>
        <span>Scroll Down</span>
    </a>
</header>
{{/is}}

<main id="blog" class="Content" role="main">

    {{> "loop"}}

</main>
