{{!< default}}

{{#post}}

<main class="Content" role="main">

    <article class="Post {{post_class}}">

        <header class="Post-header">
            {{#if feature_image}}
                <div class="Post-cover" style="background-image: url({{img_url feature_image}});">
                    <h1 class="Post-titleCovered">{{title}}</h1>
                </div>
            {{else}}
                <h1 class="Post-title">{{title}}</h1>
            {{/if}}
        </header>

        <section class="Post-content">
            {{content}}
        </section>

    </article>

</main>
{{/post}}
