{{!< default}}

{{#post}}

<main class="Content" role="main">
    <article class="Post {{post_class}}">
        <header class="Post-header">
            {{#if image}}
                <div class="Post-cover" style="background-image: url({{image}});">
                    <h1 class="Post-titleCovered">{{title}}</h1>
                </div>
            {{else}}
                <h1 class="Post-title">{{title}}</h1>
            {{/if}}
            <section class="Post-meta">
                <time class="Post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D [de] MMMM [de] YYYY"}}</time>
                <div class="Post-tags">
                    {{tags separator=" "}}
                </div>
            </section>
        </header>

        <section class="Post-content">
            {{content}}
        </section>

        <footer class="Post-footer">
            <section class="Post-share">
                <h4>¡Compártelo, por favor!</h4>
                <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <svg class="icon icon-twitter">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <span class="hidden">Twitter</span>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <svg class="icon icon-facebook">
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                    <span class="hidden">Facebook</span>
                </a>
                <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <svg class="icon icon-google-plus">
                        <use xlink:href="#icon-google-plus"></use>
                    </svg>
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <div id="disqus_thread" class="Post-comments"></div>
        <script type="text/javascript">
            var disqus_shortname = 'abalozz';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Necesitas activar JavaScript para poder ver los comentarios. Esto se debe a que uso <a href="https://disqus.com/?ref_noscript">Disqus</a> para gestionar los comentarios de la web.</noscript>

    </article>

</main>

{{/post}}
