{{!< default}}

{{#post}}

<main class="Content" role="main">
    <article class="Post {{post_class}}">
        <header class="Post-header">
            {{#if feature_image}}
                <div class="Post-cover" style="background-image: url({{img_url feature_image}});">
                    <h1 class="Post-titleCovered">{{title}}</h1>
                </div>
            {{else}}
                <h1 class="Post-title">{{title}}</h1>
            {{/if}}
            <section class="Post-meta">
                <time class="Post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D [de] MMMM [de] YYYY"}}</time>
                <span class="Post-readingTime">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                <div class="Post-tags">
                    {{tags separator=" "}}
                </div>
            </section>
        </header>

        <section class="Post-content">
            {{content}}
        </section>

        <div class="Post-comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";
                    this.page.identifier = "ghost-{{comment_id}}"
                };
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://abalozz.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Necesitas activar JavaScript para poder ver los comentarios. Esto se debe a que uso <a href="https://disqus.com/?ref_noscript">Disqus</a> para gestionar los comentarios de la web.</noscript>
        </div>
    </article>
</main>

{{/post}}
