{{!< default}}

<header class="tag-head MainHeader{{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}--noCover{{/if}}{{/if}}">
    <div class="MainHeader-content">
        <h1 class="MainHeader-title">{{tag.name}}</h1>
        <h2 class="MainHeader-description">
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                {{pagination.total}} artículos
            {{/if}}
        </h2>
    </div>
</header>

<main class="content" role="main">

    {{> "loop"}}

</main>
